<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home of Live Stock Clawler</title>
</head>
<body>
    This is home of Live Stock Clawler.
    Click below link to access features:
    <ol>
        <li>
            <a href="no_login_function">(Not Login required) Function View</a>
        </li>
        <li>
            <a href="function">(Login required) Function View</a>
        </li>
        <li>
            <a href="class">(Login required) Class View</a>
        </li>
         <li>
            <a href="class">(Login required) Decorated Class View</a>
        </li>
        <li>
            <a href="can_view_stock">(Login required | can view stockinfo) View Stock Info</a>
        </li>
    </ol>
</body>
</html>